*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top:8px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
nav{
    height: 50px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content:space-between;

    
}
p{
    font-size: 25px;
    font-weight: 600;
    margin-left: 20px;
    text-shadow: 2px 2px 2px 1vmin red;
    color:white;

}
nav img{
    height: 40px;
    align-items:center;
    border-radius: 50%;
     margin-right: 30px;
}
#logo{
    width:10vw;

    border-radius: 10px;
    box-shadow:0px 4px 15px rgb(0, 255, 234);
}
h1{
    color: white;
}
#name{
    color: darkmagenta;
    font-size: 40px;
    text-shadow: 0 0 3vmin;
}
#vi{
    color: rgb(20, 40, 220);
    font-size: 50px;
    text-shadow: 0 0 2vmin;
}
 #voice{
    width:250px;
    height: 250px;
    font-size: 50px;
    display:none;
    box-shadow: 1px 0 15px 2vmin blue;
    border-radius: 50%;

}
.btn{
width: 30%;
background: linear-gradient(to right,rgb(21,145,207),rgb(201,41,116));
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
font-size: 20px;
border-radius: 20px;
color: white;
box-shadow: 2px 2px 10px rgb(21,145,207), 2px 2px 10px rgb(201,41,116);
border: none;
transition: all 0.5s;
cursor: pointer;
}
.btn:hover{
    box-shadow: 2px 2px 20px rgb(21,145,207), 2px 2px 20px rgb(201,41,116);
    letter-spacing: 2px;

}
@media (max-width:650px) {
    #logo{
        width:20vh;
    }
    .btn{
        width:50vh;
    }
    h1{
        font-size: 20px;
    }
    #name{
        font-size:25px;

    }
    #vi{
        font-size:30px;
    }
}
@media (max-width:400px) {
    #logo{
        width:25vh;
    }
    .btn{
        width:55vh;
    }
    h1{
        font-size: 20px;
    }
    #name{
        font-size:25px;

    }
    #vi{
        font-size:30px;
    }
}
@media (max-width:300px) {
    #logo{
        width:30vh;
    }
    .btn{
        width:45vh;
    }
    h1{
        font-size: 25px;
        text-align: center;
    }
    #name{
        font-size:28px;

    }
    #vi{
        font-size:35px;
    }
}









