*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 40px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}
#logo{
    width:10vw;

    border-radius: 10px;
}
h1{
    color: white;
}
#name{
    color: darkmagenta;
    font-size: 40px;
    text-shadow: 0 0 3vmin;
}
#vi{
    color: rgb(20, 40, 220);
    font-size: 50px;
    text-shadow: 0 0 2vmin;
}
 #voice{
    width:200px;
    display:none;

}
.btn{
width: 30%;
background: linear-gradient(to right,rgb(21,145,207),rgb(201,41,116));
padding: 10px;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
font-size: 20px;
border-radius: 20px;
color: white;
box-shadow: 2px 2px 10px rgb(21,145,207), 2px 2px 10px rgb(201,41,116);
border: none;
transition: all 0.5s;
cursor: pointer;
}
.btn:hover{
    box-shadow: 2px 2px 20px rgb(21,145,207), 2px 2px 20px rgb(201,41,116);
    letter-spacing: 2px;

}
@media (max-width:650px) {
    #logo{
        width:20vh;
    }
    .btn{
        width:50vh;
    }
    h1{
        font-size: 20px;
    }
    #name{
        font-size:25px;

    }
    #vi{
        font-size:30px;
    }
}
@media (max-width:400px) {
    #logo{
        width:25vh;
    }
    .btn{
        width:55vh;
    }
    h1{
        font-size: 20px;
    }
    #name{
        font-size:25px;

    }
    #vi{
        font-size:30px;
    }
}



